*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;;
    height: 100%;
    background-color: rgb(204, 99, 204);
}
#card{
    position: relative;
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}
#stories{
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #dadada;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#stories::-webkit-scrollbar{
    display: none;
}
.story{
    margin-right: 5px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: inline-block;
    border: 3px solid rgb(230, 175, 230);
    overflow: hidden;
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
#fullScreen{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
    object-position: center;
    z-index: 1000;
    cursor: pointer;
}
#logo {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1000; /* Ensure it is above other elements */
}
#logo img {
    width: 150px; 
    height: auto;
}